<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Детали рейса</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/component/flight-card.css">
    <link rel="stylesheet" type="text/css" href="/css/flight/details.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-light header d-flex justify-content-between">
    <a class="navbar-brand" href="/home">
        <img src="/images/brand.svg" alt="">
        Flight Tracker
    </a>

    <div>
        <button class="btn-custom" onclick="location.href='/search'">
            <img src="/images/search.svg" width="20" height="20" alt="Search">
        </button>
        <button class="btn-custom" onclick="location.href='/favorites'">
            <img src="/images/favorites.svg" width="20" height="20" alt="Favorites">
        </button>
        <button class="btn-custom" onclick="location.href='/account'">
            <img src="/images/account.svg" width="20" height="20" alt="Account">
        </button>
    </div>
</nav>

<div class="details-container">
    <div class="details">
        <div class="details-main-section">
            <h2><span id="flight-model">Модель</span> (<span id="flight-number">Номер рейса</span>)</h2>
            <p><span class="badge" id="flight-status">Статус</span></p>
            <p><strong>Длительность полета:</strong> <span id="flight-duration"></span> минут</p>
            <p>
                <span id="dep-country">Страна вылета</span> (<span id="dep-city">Город вылета</span>) →
                <span id="arr-country">Страна прилета</span> (<span id="arr-city">Город прилета</span>)
            </p>
        </div>

        <div class="details-section">
            <h3><span id="dep-name">Аэропорт вылета</span> (<span id="dep-iata">IATA</span>)</h3>
            <p id="dep-time-local"></p>
            <p id="dep-time"></p>
            <p id="dep-delay"></p>
        </div>

        <div class="details-section">
            <h3><span id="arr-name">Аэропорт прилета</span> (<span id="arr-iata">IATA</span>)</h3>
            <p id="arr-time-local"></p>
            <p id="arr-time"></p>
            <p id="arr-delay"></p>
        </div>
    </div>

    <div id="button-container"></div>
</div>

<script src="/js/libraries/moment.js"></script>
<script src="/js/libraries/moment-timezone-with-data.js"></script>
<script src="/js/details.js" defer></script>

</body>
</html>
